# encoding: utf-8

<% if partner %>
    <div>
        <span class="naziv"><%=h partner.naziv %></span>
    </div>

    <div>
    <% if exists?(partner.mjesto_troska) %>
        <span><%=h partner.mjesto_troska %></span>
    <% else %>
        <%=h partner.adresa %>,&nbsp;
        <%=h partner.mjesto %>
    <% end %>
    </div>
<% end %>
