<label for="">Search for:</label><input type="text" id="search_string">   
<div id="search_options"class="auto_complete"></div>

<script>
  var partneri = <%= @partneri.map{|p| p.naziv}.to_json  %>;
  
  new Autocompleter.Local('search_string','search_options', partneri, {onHide: function(element, update){}, minChars: 0, 
    updateElement: 
      function(selectedElement) { 
        console.log(selectedElement); 
        var element = $('search_string');
        element.focus();
        element.select();
      } 
   });
</script>                                                    




