# encoding: utf-8

<div id="tab_control">
  <ul class="tabs">
    <li><a href="#page_1">Izmjene</a></li>
    <li><a href="#page_2">Plaćanje</a></li>
    <li><a href="#page_3">Ispis</a></li>
  </ul>
  <div class="cleaner"></div>
  <div id="page_1" class="tab_page"><%= render :partial => "edit" %></div>
  <div id="page_2" class="tab_page"><%= render :partial => "placanje" %></div>
  <div id="page_3" class="tab_page"><%= render :partial => "ispis" %></div>
</div>
<script>
  TabControl('tab_control', { current: 'page_1' });
  <% if @racun.stavke.size == 0 %>
    racun.novaStavka('<%= url_for(:action => 'nova_stavka', :id => @racun.id) %>')
  <% end %>
</script> 
