.inplaceeditor-form{ display:inline; }

div.auto_complete {
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    margin: 0px;
    padding: 0px;
    width: 500px;
    max-height: 300px;
    overflow: hidden;    
    overflow-y: auto;
}                
                 
ul.auto_complete, div.auto_complete ul  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-transform: none;
}

ul.auto_complete li.selected, div.auto_complete li.selected{ background-color: #ffb; }
ul.auto_complete li, div.auto_complete li { border-bottom: 1px dotted #bababa;  padding: 5px; }