<h5>stavke</h5>
<div class="sub_form">
  <div id="stavka_0" class="kalkulacija_stavka">
    <div class="left">
        <div class="label">kolièina:</div><input id="stavka_0_kolicina" class="m">
    </div>
    <div class="right">
      cijena: <input id="stavka_0_cijena" class="m"></input>
      <input id="stavka_0_vrijednost" class="m" readonly  title="vrijednost"></input>
    </div>
    
    <div class="left">
      <div class="label">popust:</div><input id="stavka_0_popust_postotak" class="ms" title="popust %"></input>%
      <input id="stavka_0_popust" class="m" readonly title="popust Kn"></input>
    </div>
    <div class="right">
      fakturna: <input id="stavka_0_fakturna_cijena" class="m" readonly title="fakturna cijena"></input>
      <input id="stavka_0_fakturna_vrijednost" class="m" readonly title="fakturna vrijednost"></input>
    </div>
    
    <div class="left">
      <div class="label">trošak:</div><input id="stavka_0_trosak" class="m" title="trošak Kn"></input>
    </div>
    <div class="right">
      nabavna: <input id="stavka_0_nabavna_cijena" class="m" readonly title="nabavna cijena"></input>
      <input id="stavka_0_nabavna_vrijednost" class="m" readonly title="nabavna vrijednost"></input>
    </div>
    
    <div class="left">
      <div class="label">marža:</div><input id="stavka_0_marza_postotak" class="m" title="marža %"></input>%
      <input id="stavka_0_marza" class="m" readonly title="marža Kn"></input>
    </div>
    <div class="right">    
      bez poreza: <input id="stavka_0_cijena_bez_poreza" class="m" title="cijena bez poreza"></input>
      <input id="stavka_0_vrijednost_bez_poreza" class="m" readonly title="vrijednost bez poreza"></input>
    </div
    
    <div class="left">
      <div class="label">porez:</div><input id="stavka_0_porez_postotak" class="ms" title="porez %"></input>%
      <input id="stavka_0_porez" class="ms" readonly title="porez Kn"></input>
    </div>
    <div class="right">
      s porezom: <input id="stavka_0_cijena_s_porezom" class="m b" title="cijena s porezom"></input>
      <input id="stavka_0_vrijednost_s_porezom" class="m" readonly title="vrijednost s porezom"></input>
    </div>
  </div>
</div>