%div{:style => "margin-right: 20px;"}
  %p Ako ste već korisnik aplikacije - <a href="/user/login">Prijavite se</a>
  %p Ako želite testirati kliknite na - <a href="/user/login?username=test">Demo</a>
  %h2 Moji Računi
    Moji Računi su web aplikacija za vođenje računa obrtnika.
    %p Pristupite Vašim računima s bilo koje lokacije: od doma, s posla od klijenta.
    %p Koristite Internet za komunicirajte s vašim knjigovođom i s vašim klijetima.    
  %h2 Što trebam
    Moji Računi trenutno rade samo sa <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a> browserom. 
    Firefox je besplatni browser dostupan za sve platforme (Windows, Linux, Mac OS) pa je stoga logičan izbor kao prvi browser kojeg u potpunosti podržavamo.     
  %h2 Moji Računi NISU
    %p Rješenje za tvrtke (d.o.o, d.d.)
    %p Zamjena za stručnu osobu (knjigovođa)  		
  %h2 Jesu li moji podaci sigurni
    %p Naši serveri mnogo su pouzdaniji od klasičnih desktop rješenja. Pored toga podaci se svakodnevno backup-iraju i prenose na drugu lokaciju.
    %p U bilo kojem trenutku možete zatražiti backup svih svojih podataka ili naručiti da Vam ih šaljemo tjedno ili dnevno.
  %h2 Više informacija
    Pošaljite mail na <a href="mailto:pomoc@igoranic.com?subject=Više informacija">pomoc@igoranic.com</a>