%h5 uplate
.sub_form
  %table.fin
    %thead
      %tr 
        %th datum
        %th dokument
        %th iznos
        %th naÄin uplate
    %tbody
      = render_collection 'racun_placanje/uplata', @racun.placanja, 'placanje'
