<div id="top">
  <div id="top_title"><%= naziv_dokumenta(@racun) %></div>
  <a class="img_link" href="javascript:window.print();"><%= image_tag "printer.png", :style=>"padding-bottom: 10px; mrgin-right:20px" %></a>
  <a href="/"><%= image_tag "logo_tb.gif", :alt => "" %></a>
</div>
