<div id="top">
  <div id="top_title"><%= naziv_dokumenta(@racun) %></div>
  <a href="javascript:window.print();"><img src="/images/printer.png" style="padding-bottom: 10px; margin-right: 20px;" /></a>
  <a href="/"><img alt="" src="/images/logo_tb.gif" /></a>
</div>
